<!DOCTYPE html>
<html>

<head>
    <title>
        Hero APP | New
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel panel-heading text-center">
                <h1>It's Hero Time.</h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-12 col-sm-offset-4 ">
                <p>
                    <h5 class="text-danger">
                        Get Rolling with <br>
                        <span href="" style="color:  #4a90e2;" class="typewrite " data-period="3000" data-type='[ "Epic Battles", "Powerful Heroes", "Superb Graphics", "Awesome upgrades!", "High Item Drops!" ]'>
                            <span class="wrap">  
                            </span>
                        </span>
                    </h5>
                </p>
            </div>
            <div class="panel-body" id="all">

                <% if (message) { %>
                    <div class="alert alert-success" role="alert">
                        <%= message %>
                    </div>
                <% } %>

                        <a href="/create">
                            <div class="col-xs-6 col-md-2">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img src="https://cdn2.iconfinder.com/data/icons/transparent-round-icons/512/add.png">
                                    </div>
                                    <div class="panel-footer">
                                        New pokemon
                                    </div>
                                </div>
                            </div>
                        </a>

                        <% pokemon.pokemon.forEach(function(poke){ %>
                            <a href="/view/<%-poke.id %>">
                                <div class="col-xs-6 col-md-2">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <img src="<%-poke.image %>">
                                        </div>
                                        <div class="panel-footer">
                                            <%-poke.name %>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <% }); %>
            </div>
            <div class="panel-footer text-center">
                <p>All rights reserved 2020 | Nate.</p>
            </div>
        </div>
    </div>
    <script >
        // TYPEWRITER EFFECT SCRIPTS.

var TxtType = function(el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
};

TxtType.prototype.tick = function() {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

    var that = this;
    var delta = 200 - Math.random() * 100;

    if (this.isDeleting) { delta /= 2; }

    if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
    } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
    }

    setTimeout(function() {
    that.tick();
    }, delta);
};

window.onload = function() {
    var elements = document.getElementsByClassName('typewrite');
    for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-type');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtType(elements[i], JSON.parse(toRotate), period);
        }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff; border-color:  #4a90e2;}";
    document.body.appendChild(css);
    
};
    </script>
</body>

</html>