/* main styles */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: rgba(87, 97, 90, 0.712);
  background-repeat: no-repeat;
}

/* article styles */
.create {

}
img {
  width: 100%;
  height: 140px;
}

.pokemon {
  background-image: url(/images/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body {
  color: black;
}