body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  background-color: rgb(224, 131, 131);
  color: white;
}
body {
  padding-top: 15px;
  background-color: #ccc;
}

img {
  width: 100%;
  height: 130px;
}

.btn{
  background-color: #00B7FF;
  width: 200px;
  padding: 5px;
  border-radius: 22.5px;
}
